.bord{
    border: 1px solid rgb(7, 47, 99);
    display: table;
    padding: 10px;
    width: 95%;
    margin: 3%;
}
.error{
    background-image:linear-gradient(10deg, #d50000 0%, #fc362f 74%);
    border-left: 5px solid #8d0e0e;
    color: white;
    padding:7px;
    font-size: 12px;
}
.headin{
    font-weight: bold;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    background: inherit; 
    width: 100%;
    padding: 4px;
    
}
.roww{
    padding: 15px 10px;
    border-top: 1px solid black;
    
}  
.sbox i{
    font-size: 3em;
    float: right;
}
.sbox b{
    font-size: 3em;
}
.center{
    text-align: center;
}
.sbox{
    display: inline-block;
    width: 20%;
    margin: 2%;
    padding: 1%;
    border-radius: 10%;
    border: 2px solid brown;
    font-size: 1em;
    font-weight: bold;

}
.mbox{
    display: inline-block;
    width: 30%;
    margin: 2%;
    font-size: 1em;
    font-weight: bold;
    height: 350px;

}
.mbox2{
    display: inline-block;
    width: 65%;
    font-size: 1em;
    font-weight: bold;
    height: 350px;

}
.cardtask{
    min-width: 28%;
    max-width: 30%;
    border: solid 1px #000000;
    margin: 2% 1%;;
    display: inline-block;
    word-wrap:break-word;
    border-radius: 10px;
    padding: 1% 1%;
}
.cardtask .tabman td{
    padding:0px 5px;
}
.cardtask .tabman .text1{
    display: none;
}
.cardtask:hover .tabman  .text1{
    display: block;
    padding-left: 0% !important;
    width: 100%;
    color: black !important;
    background: inherit;
}
.cardtask .tabman span{
    padding: 0px 0px !important;
    text-decoration: none !important;
    text-align: left !important;
    float: none !important;
    color:black !important;
}
.cardtask .name{
    display: block;
    text-align: center;
}
@media (min-width:260px) and (max-width:814px){
    .sbox{
        width: 45%;
    }
    .mbox{
        width: 90% !important;
        height: 250px;
    }
    .mbox2{
        height: 250px;
        width: 250px;
        overflow-x: scroll;
    }
}
.date-label{
    background-color: pink !important;
}