<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Dashboard</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://localhost:3420/dashboard/css">
    <link rel="stylesheet" href="http://localhost:3420/dashboard/style2">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord">
                    <div class="headin center">Dashboard</div>
                    <div class="roww"></div>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                    UP COMING TASKS<br>
                <div class="cardtask" @click="edit(i.emp_id)" v-for="i in myArray">
                    <b class="name">{{i.name}}</b>

                    <!-- <img v-bind:src="i.photo" height="80px" width="80px"> -->
                    
                    <table class="tabman">
                        <tr>
                            <td><b>Day</b></td>
                            <td>{{Days[i.day]}}</td>
                        </tr>
                        <tr>
                            <td><b>Start Time</b></td>
                            <td style="color:green;font-weight: 400;">{{i.start}}</td>
                        </tr>
                        <tr>
                            <td> <b>Duration</b></td>
                            <td>{{i.duration}}</td>
                        </tr>
                        <tr>
                            <td><span class="text1"><b>Text</b></span></td>
                            <td><span class="text1">{{i.text}}</span></td>
                        </tr>
                    </table>



                </div>
            </div>
        </div>
    </div>
    </div>

    </div>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://localhost:3420/navbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                Days: ['Any', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                sortfield: 'Name',
                message_error: "Dont leave empty response",
                error: 0,
                success:0,
                message_error: "Some Error",

            },
            created: function () {
                this.load();
            },
            methods: {

                load: function () {
                    var dt=new Date();
                    var h=dt.getHours();
                    var min=dt.getMinutes();
                    var st=h+":"+min;
                    axios.get('http://localhost:3420/tasks/api/dash?day='+(1)+'&tm='+st)
                        .then(function (tasks) {
                            console.log(tasks)
                            log.myArray = tasks
                            log.loaderoff()
                        })
                        .catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })
                    //  this.sort(this.sortfield);
                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                },

            }
        })

    </script>
    

    <script src="http://localhost:3420/navbar2/collapsing"></script>
</body>

</html>