<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Scheduler</title>
</head>

<body>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://localhost:3420/settings/style2">
    <link rel="stylesheet" href="http://localhost:3420/tasks/css_sch">


    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">


            <div id="content2" ref="content2" class="center">

                <div class="bord">
                    <div class="headin center">Scheduler</div>
                    <div class="roww"></div>
                    <div class="sp">
                    <table class="report">
                        <tr>
                            <td><strong class="options">Select Scheduling Technique :</strong></td>
                        </tr>
                        <tr>
                            <td><select class="form-control options" v-model="select">
                                    <option style="color: black;" v-for="i in scheduling">{{i}}</option>
                                </select></td>
                            <td>
                                <button id='mybtn' @click="submit()" style="padding: 5px 30px;"
                                    class="btn btn-success">Go
                                    &nbsp;&nbsp;<i class="fa fa-spinner fa-spin" id='abc'></i>
                                </button>
                            </td>

                        </tr>
                    </table><br>
                    <div v-if="error" class="error">
                        {{message_error}} !
                    </div> <br>
                    <div v-if="success" class="success">
                        {{message_success}} !
                    </div> <br>
                    <table class="table1" v-if="y==1" cellspacing="0" cellpadding="0">
                        <tr>
                            <th class='th1' v-for="i in 25">
                                <b v-if="i==1"> Days </b>
                                <b v-if="i>1 ">{{i-2}}:00-{{i-1}}:00</b>


                            </th>

                        </tr>
                        <tr v-for="day in 7">
                            <td class="td1"><b>{{days[day-1]}}</b></td>
                            <td v-for="i in 24" class="td1">

                                <span v-for="a in 60"
                                    v-bind:style="{ backgroundColor: color[time[(i-1)*60+a-1 + 1440*(day-1)]%5] }">
                                    <span class="ab" v-if="time[(i-1)*60+a-1 + 1440*(day-1)]>=0">

                                        <b
                                            v-if="mame[(i-1)*60+a-1 + 1440*(day-1)]!=' '">{{mame[(i-1)*60+a-1 + 1440*(day-1)]}}</b><b
                                            v-else><i v-if="(a-1)%3==0">&nbsp;</i></b></span>
                                    <span class="ab" v-else><b v-if="(a-1)%3!=0">&nbsp</b></span>
                                </span>

                            </td>
                        </tr>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://localhost:3420/navbar2"></script>
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                time: [],
                mame: [],
                color: ['lightblue', 'yellow', 'red', 'green', 'pink'],
                days: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                message: "",
                select: 'First Fit',
                y: 0,
                success: 0,
                error: 0,
                message: "",
                message_error: "Enter the full details",
                message_success: "Page Loaded successfully",
                scheduling: ['First Fit', 'Best Fit', 'Worst Fit'],
                message_error: "Enter the full details",
                message_success: "Page Loaded successfully",
                word: "Save",
            },

            created: function () {
                this.load();
            },
            methods: {
                load: function () {
                    $('#abc').hide()
                    $(':root').css('--border', '1px solid black;');
                    axios.get('http://localhost:3420/tasks/api/tasks')
                        .then(function (Response1) {
                            for (var i = 0; i < 24 * 60 * 7; i++) {
                                log.time[i] = -1;
                                log.mame[i] = "";
                            }
                            console.log(log.time)
                            log.myArray = Response1
                            for (var i = 0; i < Response1.length; i++) {
                                log.myArray[i].start = parseInt(log.myArray[i].start.slice(0, 2)) * 60 + parseInt(log.myArray[i].start.slice(3, 5));
                                log.myArray[i].color = log.color[(i + 1) % 5]
                                log.myArray[i].name = "  " + log.myArray[i].name + "                                                                                        ";
                                log.myArray[i].name = log.myArray[i].name + "                                                                                     ";
                                log.myArray[i].name = log.myArray[i].name + "                                                                                     ";
                                log.myArray[i].name = log.myArray[i].name + "                                                                                     ";

                                if (log.myArray[i].fix == 1) {
                                    var x = 0;
                                    var st = log.myArray[i].start + 24 * 60 * (parseInt(log.myArray[i].day) - 1);

                                    for (var j = st; j < st + parseInt(log.myArray[i].duration); j++) {
                                        log.time[j] = i;
                                        log.mame[j] = log.myArray[i].name[x];
                                        x++;
                                    }
                                    x = 0;
                                }
                            }
                            log.y = 1
                            log.loaderoff()

                            //log.worstfit()


                        })
                        .catch((err) => {
                            console.log(err)
                            log.error = 1
                            log.message_error = "Error connecting the database try again later !"
                            log.loaderoff()
                        })
                }, firstfit() {

                    for (var num = 0; num < log.myArray.length; num++) {
                        if (log.myArray[num].fix == 0) {
                            //console.log(log.myArray[num].name)
                            for (var i = 0; i < 60 * 24 * 7; i++) {
                                if (log.time[i] == -1 && log.time[i + parseInt(log.myArray[num].duration)] == -1 && log.time[i + parseInt(log.myArray[num].duration / 2)] == -1) {
                                    //console.log(i);
                                    log.assign(i, num);
                                    break;
                                }
                            }
                        }
                    }
                    return true;



                }, worstfit() {
                    for (var num = 0; num < 8; num++) {
                        if (log.myArray[num].fix == 0) {
                            //console.log(log.myArray[num].name)
                            var max = 0;
                            var maxst = 0;
                            var hole = 0;
                            var dur = parseInt(log.myArray[num].duration);
                            for (var i = 0; i < 60 * 24 * 7; i++) {
                                if (log.time[i] == -1) {
                                    hole++;
                                    continue;
                                } else {
                                    if (dur <= hole) {
                                        if (hole > max) {
                                            max = hole;
                                            maxst = i - hole;
                                        }
                                    }
                                    hole = 0;
                                }
                            }
                            //console.log(dur, hole, maxst, max)
                            log.assign(maxst, num)
                        }
                    }
                    return 1;
                }, bestfit() {
                    for (var num = 0; num < 8; num++) {
                        if (log.myArray[num].fix == 0) {
                            //console.log(log.myArray[num].name)
                            var min = 24 * 60 * 7;
                            var minst = 0;
                            var hole = 0;
                            var dur = parseInt(log.myArray[num].duration);
                            for (var i = 0; i < 60 * 24 * 7; i++) {
                                if (log.time[i] == -1) {
                                    hole++;
                                    continue;
                                } else {
                                    if (dur <= hole) {
                                        if (hole < min) {
                                            min = hole;
                                            minst = i - hole;
                                        }
                                    }
                                    hole = 0;
                                }
                            }
                            //console.log(dur, hole, minst, min)
                            log.assign(minst, num)
                        }
                    }
                    return 1;
                }, assign(st, i) {
                    log.myArray[i].start = st;
                    log.myArray[i].color = log.color[(i + 1) % 5]
                    log.myArray[i].name = "  " + log.myArray[i].name + "                                                                                        ";
                    log.myArray[i].name = log.myArray[i].name + "                                                                                     ";
                    var x = 0;
                    for (var j = st; j < st + parseInt(log.myArray[i].duration); j++) {
                        log.time[j] = i;
                        log.mame[j] = log.myArray[i].name[x];
                        x++;
                    }

                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                }, loaderon() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "block"
                    var content = app.$refs.content2
                    content.style.display = "none"
                }, getParams(url) {
                    var params = {};
                    var parser = document.createElement('a');
                    parser.href = url;
                    var query = parser.search.substring(1);
                    var vars = query.split('&');
                    for (var i = 0; i < vars.length; i++) {
                        var pair = vars[i].split('=');
                        params[pair[0]] = decodeURIComponent(pair[1]);
                    }
                    return params;
                }, save() {
                    $('#mybtn').prop('disabled', true);
                    log.word = 'Saving..'

                }, fun2() {
                    return 'cornflowerblue'
                }, async submit() {
                    $('#mybtn').prop('disabled', true);
                    $('#abc').show();
                    setTimeout(function () {
                        
                        $('#mybtn').prop('disabled', false);
                        $('#abc').hide()
                        return
                    }, 500)
                    for (var i = 0; i < 24 * 60 * 7; i++) {
                        log.time[i] = -1;
                        log.mame[i] = "";
                    }
                    for (var i = 0; i < log.myArray.length; i++) {
                        if (log.myArray[i].fix == 1) {
                            var x = 0;
                            var st = log.myArray[i].start + 24 * 60 * (parseInt(log.myArray[i].day) - 1);
                           for (var j = st; j < st + parseInt(log.myArray[i].duration); j++) {
                                log.time[j] = i;
                                log.mame[j] = log.myArray[i].name[x];
                                x++;
                            }
                            x = 0;
                        } 
                    }
                    if (log.select == 'First Fit') {
                        console.log("FF")
                        var k = await log.firstfit();
                    }
                    if (log.select == 'Best Fit') {
                        console.log("BF")
                        var k = await log.bestfit();
                    }
                    if (log.select == 'Worst Fit') {
                        console.log("WF")
                        var k = await log.worstfit();
                    }
                    log.select=""


                }

            }
        })    
    </script>

    <script src="http://localhost:3420/navbar2/collapsing"></script>
</body>

</html>