<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>SignalFlow</title>
</head>

<body  onLoad="checkFileAPI();">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="http://localhost:4490/signalflow/css">
    <link rel="stylesheet" href="http://localhost:4490/signalflow/style2">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>


    <!-- Font Awesome JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




    <div id="Index" id="navba">
        <navbar-component></navbar-component>
        <div id="navbar-top">
            <navbar-top></navbar-top>
            <img src="../images/loading" id="Loading" ref="Loading">
            <div id="content2" ref="content2">
                <div class="bord">
                    <div class="headin center">Signal Flow Graph</div>
                    <div class="roww"></div>
                    <body onLoad="checkFileAPI();">
                        <div class="container">
                    
                            <!-- about -->
                            <div class="jumbotron">
                                <p>A signal-flow graph (SFG), often called a Mason graph, is a specialized flow graph, a directed graph in which nodes represent system variables, and branches (edges, arcs, or arrows) represent functional connections between pairs of nodes. SFG's are most commonly used to represent signal flow in a physical system and its controller(s), forming a cyber-physical system.</p>
                            </div>
                    
                    
                            <div class="jumbotron">
                    
                                <!-- Tab panes -->
                                <div class="tab-pane active container" id="dragdrop"><br>
                    
                    
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="First group">
                                            <input type="file" class="btn button btn-outline-primary" onchange='readText(this)' />
                                            <button type="button" class="btn button btn-outline-primary" onclick="saveAsJSON('graph.json')">Save as JSON</button>
                    
                                        </div>
                                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                                            <button type="button" class="btn button button btn-outline-primary" onclick="resizeGraph()">Fit</button>
                                            <button type="button" class="btn button button btn-outline-primary" onclick="snapShot()"><img src="assets/SnapshotIcon.png" width="20" /></button>
                                        </div>
                    
                    
                                    </div>
                    
                    
                                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                                        <div class="btn-group mr-2" role="group" aria-label="Third group">
                                            <button type="button" class="btn button btn-outline-primary" onclick="addNode()">Add Node</button>
                                            <button type="button" class="btn button btn-outline-primary" id="addBranch" onclick="addBranch()">Add Branch</button>
                                            <button type="button" class="btn button btn-outline-primary" id="editLabel" onclick="editLabel()">Edit Label</button>
                                            <button type="button" class="btn button btn-outline-primary" id="remove" onclick="activateRemove()">Remove</button>
                                            <button type="button" class="btn btn-outline-danger" onclick="clearAll()">Clear All</button>
                                        </div>
                    
                                        <div class="btn-group" role="group" aria-label="Fourth group">
                                            <button type="button" class="btn button btn-outline-primary" id="start" onclick="setStart()">Set Source</button>
                                            <button type="button" class="btn button btn-outline-primary" id="end" onclick="setEnd()">Set End</button>
                                            <button type="button" class="btn btn-outline-success" onclick="solve()">Solve</button>
                                        </div>
                    
                                    </div>
                    
                                    <div id="cy">
                    
                                    </div>
                                </div>
                            </div>
                    
                    
                    
                            <!-- output -->
                            <div class="jumbotron">
                                <h3>Output</h3>
                                <p id="result">overall gain = ? </p>
                    
                                <details open>
                                    <summary>Forward Paths</summary>
                                    <p id="forwardPaths"></p>
                                </details>
                                <details open>
                                    <summary>Individual Loops</summary>
                                    <p id="cycles"></p>
                                </details>
                                <details open>
                                    <summary>Non Touching Loops</summary>
                                    <p id="nonTouchingLoops"></p>
                                </details>
                                <details open>
                                    <summary>Deltas</summary>
                                    <p id="deltas"></p>
                                </details>
                            </div>
                    
                    
                    
                    
                    
                            <hr>
                            <footer>
                                <p>&copy; All Credits goes to Mahmoud Tarek &amp; Mostafa Labib</p>
                            </footer>
                    
                    
                    
                        </div>     
                    
        </div>
    </div>
    </div>

    </div>
                        <script src="signalflow/js/jquery"></script>
                        <script src="signalflow/js/popper"></script>
                        <script src="signalflow/js/bootstrap"></script>
                        <script async defer src="https://buttons.github.io/buttons.js"></script>
                        <script type="module" src="../js/SignalFlowGraph.js"></script>
                        <script src="signalflow/js/guiUtilities"></script>
                        <script type = "module" src="signalflow/js/gui"></script>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <script src="http://localhost:4490/navbar2"></script>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script>
        var log = new Vue({
            el: "#Index",
            data: {
                myArray: [],
                Days: ['Any', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                sortfield: 'Name',
                message_error: "Dont leave empty response",
                error: 0,
                success:0,
                message_error: "Some Error",

            },
            created: function () {
                this.load();
            },
            methods: {

                load: function () {
                    setTimeout(function(){log.loaderoff()},100)
                    //  this.sort(this.sortfield);
                }, loaderoff() {
                    var app = this;
                    var loading = app.$refs.Loading
                    loading.style.display = "none"
                    var content = app.$refs.content2
                    content.style.display = "block"
                },

            }
        })

    </script>
    

    <script src="http://localhost:4490/navbar2/collapsing"></script>
</body>

</html>